
*.pyc

Data/
TestData/3lxZ2WJXopn_2.json
TestData/3lxZ2WJXopn_1.json
TestData/2RwYv5xnw0M_2.json
.gitignore
TestData/0grWVQK9xGV_2.json
TestData/1jvXr8nyO7q_1.json
TestData/1jvXry8Ooqq_1.json
TestData/1jvXr8nyO7q_2.json
TestData/0grWVQK9xGV_1.json
TestData/1jvXry8Ooqq_2.json
TestData/2RwYv5xnw0M_1.json
TestData/0grWV6WGvn5_2.json
TestData/0grWV6WGvn5_1.json
utils/collected data inter/dict_of_features.pkl
utils/collected_data/dict_of_features_complete.pkl
utils/collected data inter/dict_of_features.pkl
utils/collected_data/dict_of_features.pkl
JupyterTryOut/
ros2/build
ros2/install
ros2/log

gen_trajectory.npy
history.npy
trajectories.npy
